.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal-container * {
    cursor: pointer;
}
.modal {
    position: fixed;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 540px;
    width: 90%;
    height: auto;
    max-height: 90vh;
    overflow: auto;
}
.modal-header {
    margin: 0 0 50px;
    padding: 20px;
    border-bottom: 1px solid var(--header-outline);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-close {
    width: 20px;
    height: 20px;
}
.img-rules {
    width: 100%;
    padding: 10px;
}
.hide {
    display: none;
}
